* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  background-color: aliceblue;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
